#ta-command-palette-container {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.0);
	position: fixed;
	top: 0;
	left: 0;
    box-sizing: border-box;
	width: 100vw;
	height: 0vh;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 999999;
	transition: background-color 0.3s, height 0s 0.3s;
	overflow: hidden;
}

#ta-command-palette-container.active {
	background-color: rgba(0, 0, 0, 0.4);
	height: 100vh;
	transition: background-color 0.3s;
}

#ta-command-palette-container * {
    box-sizing: border-box;
    -moz-osx-font-smoothing: auto;
}

#ta-command-palette {
	display: flex;
	flex-direction: column;
	background-color: #000;
	width: 60%;
	max-width: 600px;
	padding: 16px;
	border-radius: 8px;
	position: absolute;
	top: calc( 10vh + 20px );
	left: 50%;
	/* overflow: hidden; */
	overflow: visible;
	transform: translateX(-50%);
	opacity: 0;
	transition: top 0.3s, opacity 0.3s;
    -webkit-font-smoothing: subpixel-antialiased; /* This normalises how the front and back-ends look */
}

#ta-command-palette-container.active #ta-command-palette {
	opacity: 1;
	top: 10vh;
}

/*
 * We need to override "#wpadminbar *" in admin-bar mode, so many styles have a #wpadminbar prefix
 * as well as a regular selector.
 */
#ta-command-palette-tab-notice,
#wpadminbar #ta-command-palette-tab-notice {
    display: block;
    color: white;
    position: absolute;
    right: 24px;
    font-size: 12px;
    line-height: 1;
    top: 29px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 20;
}

#ta-command-palette-tab-notice.active,
#wpadminbar #ta-command-palette-tab-notice.active {
    opacity: 1;
}

#ta-command-palette-tab-notice-button,
#wpadminbar #ta-command-palette-tab-notice-button {
    display: inline-block;
    color: white;
    border: 1px solid white;
    position: relative;
    font-size: 12px;
    border-radius: 4px;
    padding: 2px 4px;
    margin-left: 6px;
}

#ta-command-palette-search-mode-tag,
#wpadminbar #ta-command-palette-search-mode-tag,
#ta-command-palette-notice,
#wpadminbar #ta-command-palette-notice {
    color: white;
    font-size: 16px;
    border-radius: 6px;
    background-color:rgb(51,51,51);
    position: absolute;
    left: 20px;
    top: 16px;
    padding: 4px 8px;
    line-height: 1;
    opacity: 0;
    transition: opacity 0.3s, top 0.3s, transform 0.3s;
}

#ta-command-palette-notice,
#wpadminbar #ta-command-palette-notice {
    top: 16px;
    left: auto;
    right: 20px;
}

#ta-command-palette-search-mode-tag.active,
#ta-command-palette-notice.active {
    top: -18px;
    left: 20px;
    padding: 6px 10px;
}

#ta-command-palette-notice.active {
    left: auto;
    right: 20px;
}

#ta-command-palette-search-mode-tag.active,
#ta-command-palette-notice.active,
#wpadminbar #ta-command-palette-search-mode-tag.active,
#wpadminbar #ta-command-palette-notice.active {
    opacity: 1;
}

#wpadminbar #ta-command-palette-notice {
    font-size: 13px;
    top: 27px;
    right: 0;
}

#wpadminbar #ta-command-palette-search-mode-tag {
    font-size: 14px;
    top: 2px;
    left: 0;
    transform: translateX( -100% );
    background-color: #666;
}
#wpadminbar #ta-command-palette-search-mode-tag:before {
    content: 'Search for ';
}
#wpadminbar #ta-command-palette-search-mode-tag.active {
    top: 2px;
    transform: translateX( calc( -100% - 5px ) );
    opacity: 1;
}


#ta-command-palette-input,
#wpadminbar #ta-command-palette-input {
	font-family: inherit;
	background-color: #333;
	border: 0 none;
	border-radius: 6px;
	font-size: inherit;
    line-height: 2;
	display: block;
	margin: 0 0 12.8px 0;
	padding: 2.4px 8px;
	width: 100%;
	color: #FFF;
	outline: none;
    z-index: 10; /* To hide the search-mode tag */
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#ta-command-palette:after,
#wpadminbar #ta-command-palette:after {
    display: none;
    content: '';
    position: absolute;
    z-index: 20;
    top: 28px;
    right: 24px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: rotation 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#ta-command-palette.loading:after,
#wpadminbar #ta-command-palette.loading:after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' data-reactroot=''%3E%3Cpath fill='white' d='M12 2C11.1716 2 10.5 2.67157 10.5 3.5C10.5 4.32843 11.1716 5 12 5C12.8284 5 13.5 4.32843 13.5 3.5C13.5 2.67157 12.8284 2 12 2Z' clip-rule='evenodd' fill-rule='evenodd' undefined='1'%3E%3C/path%3E%3Cpath fill='white' d='M12 19C11.1716 19 10.5 19.6716 10.5 20.5C10.5 21.3284 11.1716 22 12 22C12.8284 22 13.5 21.3284 13.5 20.5C13.5 19.6716 12.8284 19 12 19Z' clip-rule='evenodd' fill-rule='evenodd' undefined='1'%3E%3C/path%3E%3Cpath fill='white' d='M7.75 3.14001C6.92157 3.14001 6.25 3.81159 6.25 4.64001C6.25 5.46844 6.92157 6.14001 7.75 6.14001C8.57843 6.14001 9.25 5.46844 9.25 4.64001C9.25 3.81159 8.57843 3.14001 7.75 3.14001Z' clip-rule='evenodd' fill-rule='evenodd' undefined='1'%3E%3C/path%3E%3Cpath fill='white' d='M16.25 17.86C15.4216 17.86 14.75 18.5316 14.75 19.36C14.75 20.1884 15.4216 20.86 16.25 20.86C17.0784 20.86 17.75 20.1884 17.75 19.36C17.75 18.5316 17.0784 17.86 16.25 17.86Z' clip-rule='evenodd' fill-rule='evenodd' undefined='1'%3E%3C/path%3E%3Cpath fill='white' d='M4.64001 6.25C3.81159 6.25 3.14001 6.92157 3.14001 7.75C3.14001 8.57843 3.81159 9.25 4.64001 9.25C5.46844 9.25 6.14001 8.57843 6.14001 7.75C6.14001 6.92157 5.46844 6.25 4.64001 6.25Z' clip-rule='evenodd' fill-rule='evenodd' undefined='1'%3E%3C/path%3E%3Cpath fill='white' d='M19.36 14.75C18.5316 14.75 17.86 15.4216 17.86 16.25C17.86 17.0784 18.5316 17.75 19.36 17.75C20.1884 17.75 20.86 17.0784 20.86 16.25C20.86 15.4216 20.1884 14.75 19.36 14.75Z' clip-rule='evenodd' fill-rule='evenodd' undefined='1'%3E%3C/path%3E%3Cpath fill='white' d='M3.5 10.5C2.67157 10.5 2 11.1716 2 12C2 12.8284 2.67157 13.5 3.5 13.5C4.32843 13.5 5 12.8284 5 12C5 11.1716 4.32843 10.5 3.5 10.5Z' clip-rule='evenodd' fill-rule='evenodd' undefined='1'%3E%3C/path%3E%3Cpath fill='white' d='M20.5 10.5C19.6716 10.5 19 11.1716 19 12C19 12.8284 19.6716 13.5 20.5 13.5C21.3284 13.5 22 12.8284 22 12C22 11.1716 21.3284 10.5 20.5 10.5Z' clip-rule='evenodd' fill-rule='evenodd' undefined='1'%3E%3C/path%3E%3Cpath fill='white' d='M4.64001 14.75C3.81159 14.75 3.14001 15.4216 3.14001 16.25C3.14001 17.0784 3.81159 17.75 4.64001 17.75C5.46844 17.75 6.14001 17.0784 6.14001 16.25C6.14001 15.4216 5.46844 14.75 4.64001 14.75Z' clip-rule='evenodd' fill-rule='evenodd' undefined='1'%3E%3C/path%3E%3Cpath fill='white' d='M19.36 6.25C18.5316 6.25 17.86 6.92157 17.86 7.75C17.86 8.57843 18.5316 9.25 19.36 9.25C20.1884 9.25 20.86 8.57843 20.86 7.75C20.86 6.92157 20.1884 6.25 19.36 6.25Z' clip-rule='evenodd' fill-rule='evenodd' undefined='1'%3E%3C/path%3E%3Cpath fill='white' d='M7.75 17.86C6.92157 17.86 6.25 18.5316 6.25 19.36C6.25 20.1884 6.92157 20.86 7.75 20.86C8.57843 20.86 9.25 20.1884 9.25 19.36C9.25 18.5316 8.57843 17.86 7.75 17.86Z' clip-rule='evenodd' fill-rule='evenodd' undefined='1'%3E%3C/path%3E%3Cpath fill='white' d='M16.25 3.14001C15.4216 3.14001 14.75 3.81159 14.75 4.64001C14.75 5.46844 15.4216 6.14001 16.25 6.14001C17.0784 6.14001 17.75 5.46844 17.75 4.64001C17.75 3.81159 17.0784 3.14001 16.25 3.14001Z' clip-rule='evenodd' fill-rule='evenodd' undefined='1'%3E%3C/path%3E%3C/svg%3E%0A");
    display: block;
}

#ta-command-palette-items-container,
#wpadminbar #ta-command-palette-items-container {
	position: relative;
	background-color: #000;
	font-size: inherit;
    line-height: 1.3;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80%;
	max-height: 300px;
	color: #FFF;
    overflow: hidden;
}

#ta-command-palette-items,
#ta-command-palette-submenu-container,
#wpadminbar #ta-command-palette-items,
#wpadminbar #ta-command-palette-submenu-container {
	position: relative;
	background-color: #000;
	font-size: inherit;
    line-height: 1.3;
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	height: 100%;
    max-height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #444 #000;   /* scroll thumb and track */
}

#ta-command-palette-submenu-container,
#wpadminbar #ta-command-palette-submenu-container {
    position: absolute;
    top: 0;
    left: 100%;
    height: auto;
    min-height: 100%;
    transition: left 0.3s;
}

#ta-command-palette-submenu-container.active,
#wpadminbar #ta-command-palette-submenu-container.active {
    left: 0;
}

#ta-command-palette-items::-webkit-scrollbar,
#ta-command-palette-submenu-container::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
}

#ta-command-palette-items::-webkit-scrollbar-track,
#ta-command-palette-submenu-container::-webkit-scrollbar {
  background: #000;        /* color of the tracking area */
}

#ta-command-palette-items::-webkit-scrollbar-thumb,
#ta-command-palette-submenu-container::-webkit-scrollbar {
  background-color: #444;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 0px none;  /* creates padding around scroll thumb */
}

#ta-command-palette li,
#wpadminbar #ta-command-palette li {
	display: block;
	margin: 0 !important;
	padding: 8px !important;
}

#ta-command-palette a,
#wpadminbar #ta-command-palette a {
	display: flex;
    flex-shrink: 0;
    width: 100%;
	align-items: center;
	color: #FFF !important;
	text-decoration: none !important;
    border: 0 none !important;
    line-height: 1.3 !important;
    font-weight: 400 !important;
    background-color: transparent !important;
}
#ta-command-palette a:hover,
#ta-command-palette a:active,
#ta-command-palette a:focus {
    border: 0 none !important;
    color: #FFF !important;
    text-decoration: none !important;
    background-color: transparent !important;
}

#ta-command-palette li.selected {
	display: flex;
	padding: 8px !important;
	background-color: #2271b1;
    border: 0 none !important;
}

#ta-command-palette .update-plugins,
#ta-command-palette .awaiting-mod {
	background-color: #d63638;
	color: #fff;
	border-radius: 9px;
	height: 18px;
	min-width: 18px;
	padding: 0 5px;
	font-size: 11px;
	line-height: 1.6;
	text-align: center;
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
}

#ta-command-palette .update-plugins.count-0,
#ta-command-palette .awaiting-mod.count-0 {
	display: none;
}

/* Submenu items are all hidden - the markup is copied to the submenu container */
#ta-command-palette .ta-submenu {
    display: none;
}
#ta-command-palette #ta-command-palette-submenu-container .ta-submenu {
    display: block;
}

/* #ta-command-palette .ta-submenu {
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    transition: right 0.3s;
    background-color: #000;
}

#ta-command-palette .ta-submenu.active {
    right: 0;
} */

#ta-command-palette .ta-submenu-title {
    padding: 0.5rem;
    color: #CCC;
    font-size: 14px;
}

#ta-command-palette .ta-submenu-items {
    margin: 0;
    padding: 0;
}

/*
 * Palette in admin bar
 */
#wpadminbar #ta-command-palette-container {
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    padding: 3px 5px 3px 5px;
    position: relative;
    background-color: none;
    transition: none;
    overflow: visible;
}

/* This resets stupid styles in the wpadminbar */
#wpadminbar #ta-command-palette-container * {
    line-height: 1;
    box-sizing: border-box;
}
#wpadminbar #ta-command-palette-container li {
    float: none;
    position: static;
}

#wpadminbar #ta-command-palette {
    width: 250px;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    opacity: 1;
    transition: none;
    padding: 0;
    background-color: #1d2327;
}

#wpadminbar #ta-command-palette-tab-notice {
    top: 3px;
    right: 10px;
}
#wpadminbar #ta-command-palette-tab-notice-text {
    display: none;
}
#wpadminbar #ta-command-palette-input {
    line-height: 1.6;
    margin-bottom: 0;
    padding: 2px 8px;
    min-height: auto;
    background-color: #444;
    border-radius: 6px;
}

#wpadminbar #ta-shortcut-key-placeholder {
    position: absolute;
    top: 6px;
    left: 12px;
    z-index: 100;
}

#wpadminbar #ta-command-palette.loading::after {
    top: 6px;
    right: 10px;
}

#wpadminbar #ta-command-palette-items {
    padding-top: 0;
    max-height: 0;
    opacity: 0;
    /* overflow: scroll; */
    transition: all 0.3s;
    background-color: #1d2327;
}

#wpadminbar #ta-command-palette-items li {
    width: 100%;
}

#wpadminbar #ta-command-palette-items li a {
    width: 100%;
    height: auto;
}

#wpadminbar #ta-command-palette-submenu-container {
    background-color: #1d2327;
    z-index: 100000;
}

#wpadminbar #ta-command-palette-items .ta-submenu {
    background-color: #1d2327;
}

#wpadminbar #ta-command-palette-items .ta-has-child-menu.selected {
    z-index: 9999999; /* Needs to be higher than #ta-command-palette-container */
}

#wpadminbar #ta-command-palette-container.active {
    background-color: transparent;
}

#wpadminbar #ta-command-palette-container.active #ta-command-palette {
    top: auto;
}

#wpadminbar #ta-command-palette-container.active #ta-command-palette-input {
}

#wpadminbar #ta-command-palette-container.active #ta-shortcut-key-placeholder {
    display: none;
}

#wpadminbar #ta-command-palette-container.active #ta-command-palette-items {
    padding-top: 8px;
    max-height: 300px;
    opacity: 1;
}

/* Notices panel */

/* Initial cloak of notices */
body.wp-admin #wpbody-content > .notice:not('.notice-success, .notice-error, .notice-failure'),
body.wp-admin #wpbody-content > .wrap > .notice:not('.notice-success, .notice-error, .notice-failure') {
    transition: max-height 0.2s;
    max-height: 0;
}

#ta-notice-count {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 1px 0 -1px 2px;
    padding: 0 5px;
    min-width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: #d63638;
    color: #fff;
    font-size: 11px;
    line-height: 1.6;
    text-align: center;
    z-index: 26;
}

#ta-notices-panel-inner {
    padding: 25px;
}

#ta-notices-panel-inner > * {
    margin-right: 0;
    margin-left: 0;
    margin-top: 25px;
}
#ta-notices-panel-inner > *:first-child {
    margin-top: 0;
}

/* Is it OK to do this? This class is added by the TA JS */
.ta-added-pos-relative {
    position: relative !important;
}

.ta-remember-notice-button,
.ta-forget-notice-button {
    outline: none;
    position: absolute;
    right: 5px;
    bottom: 0;
    transform: translateY(50%);
    background-color: white;
    background-image: none;
    border: 1px solid #c3c4c7;
    z-index: 10;
    padding: 3px 8px;
}
.ta-forget-notice-button {
    display: none;
}

/* Hide the button when it's in the panel */
#ta-notices-panel-inner .ta-remember-notice-button {
    display: none;
}
/* Show this button when in the panel */
#ta-notices-panel-inner .ta-forget-notice-button {
    display: block;
}

#wpadminbar #ta-notice-count {
    display: inline-block;
    background-color: #ca4a1f;
    color: #FFF;
    min-width: 18px;
    height: 18px;
    border-radius: 18px;
    padding: 0 7px;
    line-height: 18px;
    text-align: center;
}

/* Admin bar icon for notices */
#wpadminbar #wp-admin-bar-ta-notices .ab-icon:before {
    content: "\f16d";
    top: 2px;
}
#wpadminbar #wp-admin-bar-ta-notices .ab-label {
    height: 20px !important;
    line-height: 20px !important;
}
#wpadminbar #wp-admin-bar-ta-notices .ab-item:hover .ab-label {
    color: rgb(240, 240, 241) !important;
}

/**
 * List tables
 */
.ta-active-table-row,
.ta-active-table-row th,
.ta-active-table-row td {
    background-color: #ddd !important;
}

.has-row-actions .ta-active-table-row-link,
.plugin-title .ta-active-table-row-link,
.plugin-card .name .ta-active-table-row-link,
.plugin-action-buttons .ta-active-table-row-link {
    text-decoration: underline !important;
}

/**
 * Barkeeper
 *
 * Note: adminbar styles are stupidly specific
 */
#wpadminbar .ta-barkeeper-collapsable {
    max-width: 100vw;
    height: 100%;
    transition: opacity 0.2s 0.5s, max-width 0.5s;

}
#wpadminbar #wp-admin-bar-root-default.ta-barkeeper-closed .ta-barkeeper-collapsable {
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.2s, max-width 0.5s 0.2s
}

#wpadminbar #ta-barkeeper-toggle {
    border: 0 none;
    box-shadow: none;
    background-color: #444;
    display: flex;
    box-sizing: border-box;
    margin: 3px;
    padding: 0;
    height: calc( 32px - 6px );
    width: 24px;
    border-radius: 6px;
    float: left;
    color: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-indent: 32px;
    position: relative;
}
#wpadminbar #ta-barkeeper-toggle:before {
    display: block;
    content: '';
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22h-6%20w-6%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%3E%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M15%2019l-7-7%207-7%22%20%2F%3E%3C%2Fsvg%3E');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: calc( 32px - 6px );
    text-indent: 0;
}

#wpadminbar #wp-admin-bar-root-default.ta-barkeeper-closed + #ta-barkeeper-toggle:before {
    transform: rotate(180deg);
}

/* Mobile admin bar */
@media screen and (max-width: 782px) {
    #wpadminbar #ta-barkeeper-toggle {
        height: 40px;
        width: 32px;
        text-indent: 50px;
    }
}
